.carousel-items > div {
  display: none;
}

#arsinoitherium-control:checked ~ .carasoul-inner #arsinoitherium,
#elasmotherium-control:checked ~ .carasoul-inner #elasmotherium,
#glyptodon-control:checked ~ .carasoul-inner #glyptodon,
#megatherium-control:checked ~ .carasoul-inner #megatherium {
  display: block;
}

.carousel-btn {
  border: 4px solid #fff;
  border-radius: 50%;
}

#arsinoitherium-control:checked ~ .carasoul-inner [for="arsinoitherium"],
#elasmotherium-control:checked ~ .carasoul-inner [for="elasmotherium"],
#glyptodon-control:checked ~ .carasoul-inner [for="glyptodon"],
#megatherium-control:checked ~ .carasoul-inner [for="megatherium"] {
  background-color: #fff;
}
